<div class="col-md-6" id="table-wrapper">
    <table 
        id="table"
        class="table table-hover" 
    >
        <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Latitude</th>
                <th>longitude</th>
            </tr>
        </thead>
    </table>
</div>
